.navbar {
  background-color: var(--primary-color) !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  .navbar-brand, .nav-link {
    color: var(--light-text) !important;
  }

  .navbar-toggler {
    border-color: var(--light-text);
  }

  .dropdown-menu {
    background-color: var(--background-color);
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .dropdown-item {
      color: var(--text-color);
      &:hover {
        background-color: var(--primary-color);
        color: var(--light-text);
      }
    }
  }
}
