a {
    color: grey;
}

.ingredient-list {
    padding-left: 0;
}

@media only screen and (max-width: 500px) {
    .recipeDetails {
        margin-top: 10px;
       img {
            width: 250px;
            height: auto;
            margin-left: 30px;
        }
    }

    .recipeTitle {
        margin-top: 10px;
    }

    .recipeTitle h1 {
        font-size: 1.75rem;
    }

    .recipeTitle,
    .recipeIngredients {
        margin-right: 1.5rem !important;
    }

    .ingredient-list {
        margin: 8px 8px 18px 0px;
        .list-group {
            margin-right: 1.5rem;
        }
    }

}