.lds-spinner {
    color: var(--primary-color);
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
    div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
        
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: var(--primary-color);
        }
    }
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}