.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    z-index: 50;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.alert-box-actions {
    text-align: right;

    button {
        background-color: var(--primary-color);
        border: none;
        padding: 8px 24px;
        
        &:hover {
            background-color: var(--secondary-color);
        }
    }
}